.section3-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F5F1EF;
    line-height: 10px;
    position: relative; 
    padding-bottom: 20%;

  }
  

.section3-box {
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1; 
    
  }

.p11{
    color: #3B3A5D;
font-family: Source Sans 3;
font-size:18px;
font-style: normal;
font-weight: 400;
line-height: 192.5%;
letter-spacing: 6px;
text-transform: uppercase;
    
}

.h11{
    color: #3B3A5D;
text-align: center;
font-family: Kufam;
font-size: 35px;
font-style: normal;
font-weight: 700;
line-height: 118.5%; /* 53.325px */
padding: 0px 120px;
margin-top: -1%;
}





.card-container-100 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;


    
}

.card-100{
    width: 430px;
    margin-right: 10px;
    margin-bottom: 20px;
    margin-left: 10px;

}

.inner-card-100 {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px 20px;
   
    border-radius: 5px;
    background: #FFF;
}


.card-box-100 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -1%;
}

.card-box-100 p {
    color: #FFBB50;
    text-align: center;
    font-family: Kufam;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 118.5%;
    /* 41.475px */
}

.card-box-100 btn {
    color: #3B3A5D;
    text-align: center;
    font-family: Kufam;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 118.5%;
    display: flex;
    padding: 7px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    background: #FFBB50;
}

.card-p{
    color: #3B3A5D;
font-family: Kufam;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 118.5%; 
}

.location{
    color: #8E8E8E;
font-family: Source Sans 3;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 10px; /* 23.7px */

}

.card-box-101{
    line-height: -2%;
    margin-top: -6%;
}

.btn-box btn{
    border: 2px solid ;
    border-radius: 5px;
border: 1px solid #D7D7D7;
padding: 5px 5px;
height: 20px;
width: 94px;
align-items: center;
display: flex;
justify-content: center;
margin-left: 10px;

}

.btn-box{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;

}

.btn-box p{
    color: #8E8E8E;
font-family: Source Sans 3;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 118.5%; /* 23.7px */
}

.pattern-img {
    position: absolute;
    bottom: 170px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0; 
    width: 400px;
    height: 280px;
  }

.contact-btn-1{
    margin-top: 50px;
    display: flex;
padding: 13px 15px;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 5px;
background: #FFF;
position: relative;
}


@media (max-width: 900px) {
    .section3-container {

    
      }
      .pattern-img{
        display: none;
      }
      .p11{
     
    font-size:14px;
   
        
    }
    .h11{
        font-size: 40px;
    }
      
    
  }

  
@media (max-width: 650px) {
    .section3-container {
      
    
      }
   
      .p11{
     
    font-size:12px;
   
        
    }
    .h11{
        font-size: 25px;
    }
    /* .p-img{
        width: 320px;
        height: 170px;
    } */
    /* .inner-card-100{
        width: 330px;
   
        display: flex;
        flex-direction: column;
        justify-content: center;
    } */
      
    
  }