.section-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    background-color: white;
    margin:5% 0%;
}


.box-1{
    display: flex;
width:520px;
height: 170px;
padding: 65px 50px;
flex-direction: column;
align-items: flex-start;
gap: 1px;
flex-shrink: 0;
border-radius: 5px;
background: #F2F2F2;
margin-right: 10px;


}

.para-box p {
    line-height: 1;
  }

.para-11{
    color: #3B3A5D;
font-family: Source Sans 3;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 192.5%;
letter-spacing: 6px;
text-transform: uppercase;
margin-top: -3%;
}

samp{
    color: #FFBB50;
font-family: Source Sans 3;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 192.5%; /* 38.5px */
letter-spacing: 6px;
text-transform: uppercase;
}

.para-12{
    color: #3B3A5D;
font-family: Kufam;
font-size: 35px;
font-style: normal;
font-weight: 700;
line-height: 118.5%; /* 53.325px */
margin-top: -1%;
}

.para-13{
    color: #B16642;
font-family: Source Sans 3;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 118.5%; /* 23.7px */
margin-top: -2%;
}


.box-2 {
   
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('A://ReactProjects//ananthkaal//src//asserts//Photo.jpg');
    background-size: cover;
    background-position: center;
    height: 300px; 
    position: relative;
    width: 300px;
    margin-left: 15px;
    border-radius: 5px;
  }
  
 
  .background-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%; 
  }

  .custom-list {
    list-style-type: none;
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
  }
  
  .custom-list li {
    position: relative;
  }
  
  .custom-list li::before {
    content: "";
    display: block;
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
    width: 15px; 
    height: 15px; 
    background-color: #CFCFCF;
    border-radius: 50%;
    box-sizing: border-box;
  }
  
  .custom-list li::after {
    content: "";
    display: block;
    position: absolute;
    left: -15px;
    top: 8px; 
    width: 5px; 
    height: 5px; 
    background-color: #000;
    border-radius: 50%;
  }
  


  @media (max-width: 995px) {

  
  .box-1{
    display: flex;
width:400px;
height: 170px;



}

.para-box p {
    line-height: 1;
  }

.para-11{
font-size: 12px;

}

samp{
font-size: 12px;

}

.para-12{
font-size: 25px;

}

.para-13{
font-size: 12px;

}
.custom-list {
  list-style-type: none;
  padding-left: 20px;
  display: flex;
  justify-content: space-between;
}

.custom-list li {
  position: relative;
  font-size: 12px;
}



.custom-list li::after {
  top: 5px; 
 
 
}
    
    
  }

  @media (max-width: 854px) {

    .section-container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: auto;
  }
  

  .box-2{
    width: 497px;
    margin-left: -2%;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  
    
    
  }