.home-container {
    background-color: #f3d1c1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;

 
}
.home-page{
    background-color: #f3d1c1;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.navbar {
    position: fixed;
    top: 0;
    left: 50%;
    width: 945px;
    transform: translateX(-50%);
    background-color: white;
    padding: 10px 0px;
    z-index: 1000;
    margin-top: 20px;
    opacity: 1;

  }




.navbar.hidden {
    opacity: 0;
    pointer-events: none;

}
.content{
  margin-left: 25%;
  margin-right: 10%;
  margin-top: 20%;
}



.left-column {
 
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.para-1 {
    display: flex;
    padding: 0px 5px;
    align-items: center;
    width: 260px;
    height: 25px;
    background: linear-gradient(270deg, #e5ad94 -3.75%, rgba(255, 178, 141, 0.00) 108.58%);
    
}


.para-1 h2 {
    color: #B16642;
    font-family: Kufam;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 118.5%;
    /* 23.7px */
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-left: 10px;

}
.para-2{
    color: #3B3A5D;
font-family: Kufam;
font-size: 42px;
font-style: normal;
font-weight: 700;
line-height: 118.5%; /* 77.025px */
margin-top: -1%;
}

.para-3{
    color: #B16642;
font-family: Source Sans 3;
font-size: 17px;
font-style: normal;
font-weight: 400;
line-height: 118.5%;
margin-right:20%;
margin-top: -6%;
}



.explore-btn{
    gap:4px;
    display: flex;
padding: 15px 5px;
flex-direction: row;
justify-content: center;
align-items: center;
width:250px;
border-radius: 5px;
background: #FFF;
color: #3B3A5D;
text-align: center;
font-family: Kufam;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 118.5%; /* 23.7px */
}

.right-column {
    width: 50%;
  
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
  
  .image {
     width: 800px;
     height: 550px;
  }


/* 
@media (max-width: 900px) {
    .home-container {
        flex-direction: column;
        align-items: center;
    }

    .left-column, .right-column {
        width: 100%;
        height: auto;
        text-align: center;
        align-items: center;
    }

    .left-column {
        margin-bottom: 20px;
    }

    .right-column {
        order: -1;
    }

    .content {
        margin: 20px;
    }

    .para-1 {
        width: auto;
        padding: 5px;
    }

    .para-1 h2 {
        font-size: 12px;
    }

    .para-2 {
        font-size: 32px;
    }

    .para-3 {
        font-size: 14px;
        margin-right: 0;
    }

    .explore-btn {
        width: 150px;
        font-size: 16px;
    }
 

    .image {
        display: none;
    }
  
}

@media (max-width: 800px) {
}
@media (max-width: 700px) {
 
} */
